@model Ahmynar_MVC.Models.EquipamentVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EquipamentVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden="hidden"></label>
                <input asp-for="Id" class="form-control" hidden="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeEquipament" class="control-label"></label>
                <input asp-for="TypeEquipament" class="form-control" />
                <span asp-validation-for="TypeEquipament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specs" class="control-label"></label>
                <input asp-for="Specs" class="form-control" />
                <span asp-validation-for="Specs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acessories" class="control-label"></label>
                <input asp-for="Acessories" class="form-control" />
                <span asp-validation-for="Acessories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obs" class="control-label"></label>
                <input asp-for="Obs" class="form-control" />
                <span asp-validation-for="Obs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
