@model Ahmynar_MVC.Models.CreateBudgetVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateBudgetVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label>
                <input asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalServices" class="control-label"></label>
                <input asp-for="TotalServices" class="form-control" />
                <span asp-validation-for="TotalServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalProducts" class="control-label"></label>
                <input asp-for="TotalProducts" class="form-control" />
                <span asp-validation-for="TotalProducts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obs" class="control-label"></label>
                <input asp-for="Obs" class="form-control" />
                <span asp-validation-for="Obs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductIds" class="control-label"></label>
                <select asp-for="ProductIds" asp-items="Model.ProductsList" class="form-control" multiple>
                    <option></option>
                </select>
                <span asp-validation-for="ProductIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceIds" class="control-label"></label>
                <select asp-for="ServiceIds" asp-items="Model.ServicesList" class="form-control" multiple>
                    <option></option>
                </select>
                <span asp-validation-for="ServiceIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
