@model Ahmynar_MVC.Models.ServiceOrderVM

@{
    ViewData["Title"] = "Editar Ordem de Serviço";
}

<head>
    <link rel="stylesheet" href="~/css/ServiceOrder/serviceOrder.css" asp-append-version="true" />
</head>

<h1 class="page-title">Editar OS</h1>

<div class="edit-page">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-none">
            <div class="group-row-label">
                <label asp-for="Id" class="control-label"></label>
            </div>
            <div class="group-row-data">
                <input asp-for="Id" class="input-data" />
            </div>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between radio-div mb-3">
            @foreach (var s in System.Enum.GetValues(typeof(Ahmynar_Domain.Enums.StatusDescription)))
            {
                <div class="d-flex flex-row-reverse align-items-md-center">
                    <label asp-for="Status" class="form-check-label radio-label">
                        @(s.ToString() == "Open" ? "Aberto" : s.ToString() == "InQueue" ? "Na fila" : s.ToString() == "InProcess" ? "Em processo" : s.ToString() == "Finished" ? "Finalizado" : "Cancelado")
                    </label>
                    <input asp-for="Status" type="radio" value="@((int)s)" class="form-check-input radio-data" id="@s.ToString()" checked="checked" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Dados da OS</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Number" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Number" class="input-data so-num" />
                    </div>
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="BudgetId" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <select asp-for="BudgetId" asp-items="Model.Budgets" class="selectize-data budget-num">
                        </select>
                    </div>
                    <span asp-validation-for="BudgetId" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="DepartureDate" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="DepartureDate" class="input-data" />
                    </div>
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="TotalDiscounts" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="TotalDiscounts" class="input-data" />
                    </div>
                    <span asp-validation-for="TotalDiscounts" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Total" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Total" class="input-data" />
                    </div>
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Outros</span>
            <div class="d-flex justify-content-between  obs-input">
                <div class="group-row d-flex flex-column w-100">
                    <div class="group-row-label">
                        <label asp-for="Obs" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <textarea asp-for="Obs" class="input-data textarea-data w-100"></textarea>
                    </div>
                    <span asp-validation-for="Obs" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="footer-buttoms d-flex justify-content-end mt-4">
            <button type="button" id="btnBack" class="btn-details">
                <img src="~/icon/back.svg" class="btn-details-icon" /> Voltar
            </button>
            <button type="submit" value="Save" class="btn-details">
                <img src="~/icon/register.svg" class="btn-details-icon" /> Salvar
            </button>
        </div>
    </form>>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(".selectize-data").selectize({
        create: false,
        sortField: "text",
        placeholder: "Selecione um cliente"
    });

    $("#btnBack").click(function () {
        $("span").each(function () {
            $(this).remove();
        });
        location.href = '@(Html.Raw(Url.Action("Index")))';
    });
</script>
}
