@model Ahmynar_MVC.Models.CreateCustomerVM

@{
    ViewData["Title"] = "Criar Cliente";
}

<head>
    <link rel="stylesheet" href="~/css/Customer/customer.css" asp-append-version="true" />
</head>

<h1 class="page-title">Novo Cliente</h1>

<div class="create-page">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between radio-div mb-3">
            @foreach (var tc in System.Enum.GetValues(typeof(Ahmynar_Domain.Enums.TypeCustomer)))
            {
                <div class="d-flex flex-row-reverse align-items-md-center">
                    <label asp-for="TypeCustomer" class="form-check-label radio-label">@(tc.ToString() == "LegalEntity" ? "Cliente Jurídico" : "Cliente Físico")</label>
                    <input asp-for="TypeCustomer" type="radio" value="@((int)tc)" class="form-check-input radio-data" id="@tc.ToString()" checked="checked" />
                    <span asp-validation-for="TypeCustomer" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="d-none flex-column mb-2 group-data group-data-legal-entity">
            <span class="group-desc">Dados pessoais</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="CompanyName" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="CompanyName" id="companyName" class="input-data" />
                    </div>
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="TradeName" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="TradeName" id="tradeName" class="input-data" />
                    </div>
                    <span asp-validation-for="TradeName" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Cnpj" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Cnpj" id="cnpjNumber" class="input-data cnpj-num" />
                    </div>
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="IE" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="IE" id="ieNumber" class="input-data" maxlength="14" />
                    </div>
                    <span asp-validation-for="IE" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="IM" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="IM" id="imNumber" class="input-data" maxlength="15" />
                    </div>
                    <span asp-validation-for="IM" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data group-data-natural-person">
            <span class="group-desc">Dados pessoais</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="CustomerName" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="CustomerName" id="customerName" class="input-data" />
                    </div>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Cpf" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Cpf" id="cpfNumber" class="input-data cpf-num" />
                    </div>
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Rg" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Rg" id="rgNumber" class="input-data rg-num" />
                    </div>
                    <span asp-validation-for="Rg" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="BirthDate" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="BirthDate" id="birthDate" class="input-data" />
                    </div>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Dados de contato</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Phone" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Phone" class="input-data phone-num" />
                    </div>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Cellphone" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Cellphone" class="input-data cellphone-num" />
                    </div>
                    <span asp-validation-for="Cellphone" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Email" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Email" class="input-data" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Dados de endereço</span>
            <div class="d-flex flex-column ">
                <div class="d-flex justify-content-between">
                    <div class="group-row d-flex flex-column mb-2">
                        <div class="group-row-label">
                            <label asp-for="Address" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="Address" class="input-data" />
                        </div>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="Number" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="Number" class="input-data" />
                        </div>
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="Address2" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="Address2" class="input-data" />
                        </div>
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="AddressComplement" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="AddressComplement" class="input-data" />
                        </div>
                        <span asp-validation-for="AddressComplement" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="City" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="City" class="input-data" />
                        </div>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="State" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="State" maxlength="2" class="input-data" />
                        </div>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="Cep" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="Cep" class="input-data cep-num" />
                        </div>
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                    <div class="group-row d-flex flex-column">
                        <div class="group-row-label">
                            <label asp-for="Country" class="control-label"></label>
                        </div>
                        <div class="group-row-data">
                            <input asp-for="Country" class="input-data" />
                        </div>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Outros</span>
            <div class="d-flex justify-content-between  obs-input">
                <div class="group-row d-flex flex-column w-100">
                    <div class="group-row-label">
                        <label asp-for="Obs" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <textarea asp-for="Obs" class="input-data textarea-data w-100"></textarea>
                    </div>
                    <span asp-validation-for="Obs" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="footer-buttoms d-flex justify-content-end mt-4">
            <button type="button" id="btnBack" class="btn-details">
                <img src="~/icon/back.svg" class="btn-details-icon" /> Voltar
            </button>
            <button type="submit" value="Create" class="btn-details">
                <img src="~/icon/register.svg" class="btn-details-icon" /> Registrar
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).on("click", ".radio-data", function () {
        if ($("#NaturalPerson").is(":checked")) {
            $("#companyName").val("");
            $("#tradeName").val("");
            $("#cnpjNumber").val("");
            $("#ieNumber").val("");
            $("#imNumber").val("");
            $(".group-data-natural-person").removeClass("d-none").addClass("d-flex");
            $(".group-data-legal-entity").removeClass("d-flex").addClass("d-none");

        }
        else if ($("#LegalEntity").is(':checked')) {
            $("#customerName").val("");
            $("#cpfNumber").val("");
            $("#rgNumber").val("");
            $("#birthDate").val("");
            $(".group-data-legal-entity").removeClass("d-none").addClass("d-flex");
            $(".group-data-natural-person").removeClass("d-flex").addClass("d-none");
        }
    });

    $("#btnBack").click(function () {
        $("span").each(function () {
            $(this).remove();
        });
        location.href = '@(Html.Raw(Url.Action("Index")))';
    });
</script>
}
