<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ahmynar_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/selectize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ahmynar_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
                <div class="container-fluid menu-div">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/Logo.png" class="logo"/>
                    </a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-sm-evenly">
                        <div class="dropdown-center">
                            <button type="button" class="btn btn-dropdown dropdown-toggle" id="dropdownCustomer" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownCustomer">
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="Customer" asp-action="Index">Clientes</a>
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="Equipament" asp-action="Index">Equipamentos</a>
                            </div>
                        </div>
                        <div class="dropdown-center">
                            <button type="button" class="btn btn-dropdown dropdown-toggle" id="dropdownBudget" data-bs-toggle="dropdown" aria-expanded="false">
                                Orçamentos
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownBudget">
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="Budget" asp-action="Index">Orçamentos</a>
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="ServiceOrder" asp-action="Index">Ordens de Serviço</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="Service" asp-action="Index">Serviço</a>
                            </div>
                        </div>
                        <div class="dropdown-center">
                            <button type="button" class="btn btn-dropdown dropdown-toggle" id="dropdownStock" data-bs-toggle="dropdown" aria-expanded="false">
                                Estoque
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownStock">
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="Product" asp-action="Index">Produtos</a>
                                <a class="dropdown-item anchor-dropdown" asp-area="" asp-controller="Supplier" asp-action="Index">Fornecedores</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn">
                                <a class="anchor-item" asp-area="" asp-controller="Sale" asp-action="Index">Vendas</a>
                            </button>
                        </div>
                    </div>
                    <div class="dropdown-center align-self-center">
                        <button type="button" class="btn btn-dropdown btn-dropdown-user dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/icon/user.svg" class="btn-dropdown-icon-user" /> @User.Identity.Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownUser">
                            <form method="post" asp-action="Logout" asp-controller="User" asp-route-returnUrl="@Url.Action("Login", "User")">
                                <button type="submit" class="dropdown-item anchor-dropdown">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/lib/jquery-mark/jquery.mark.min.js"></script>
    <script src="~/lib/selectize/selectize.min.js"></script>
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
