@model Ahmynar_MVC.Models.ProductVM

@{
    ViewData["Title"] = "Editar Produto";
}

<head>
    <link rel="stylesheet" href="~/css/Product/product.css" asp-append-version="true" />
</head>

<h1 class="page-title">Editar Produto</h1>

<div class="edit-page">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-none">
            <div class="group-row-label">
                <label asp-for="Id" class="control-label"></label>
            </div>
            <div class="group-row-data">
                <input asp-for="Id" class="input-data" />
            </div>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="d-none">
            <div class="group-row-label">
                <label asp-for="GroupProduct" class="control-label"></label>
            </div>
            <div class="group-row-data">
                <input asp-for="GroupProduct" class="input-data" />
            </div>
            <span asp-validation-for="GroupProduct" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Dados de compra</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Description" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Description" class="input-data" />
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Unit" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Unit" class="input-data" />
                    </div>
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="PurchasePrice" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="PurchasePrice" class="input-data money-num" />
                    </div>
                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column selective-row">
                    <div class="group-row-label">
                        <label asp-for="SupplierId" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <select asp-for="SupplierId" asp-items="Model.Suppliers" class="selectize-data">
                        </select>
                    </div>
                    <span asp-validation-for="SupplierId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Dados de venda</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="Quantity" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="Quantity" class="input-data" />
                    </div>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="SalePrice" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="SalePrice" class="input-data money-num" />
                    </div>
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Outros</span>
            <div class="d-flex justify-content-between  obs-input">
                <div class="group-row d-flex flex-column w-100">
                    <div class="group-row-label">
                        <label asp-for="Obs" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <textarea asp-for="Obs" class="input-data textarea-data w-100"></textarea>
                    </div>
                    <span asp-validation-for="Obs" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="footer-buttoms d-flex justify-content-end mt-4">
            <button type="button" id="btnBack" class="btn-details">
                <img src="~/icon/back.svg" class="btn-details-icon" /> Voltar
            </button>
            <button type="submit" value="Save" class="btn-details">
                <img src="~/icon/register.svg" class="btn-details-icon" /> Salvar
            </button>
        </div>
    </form>>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(".selectize-data").selectize({
        create: false,
        sortField: "text",
        placeholder: "Selecione um cliente"
    });

    $("#btnBack").click(function () {
        $("span").each(function () {
            $(this).remove();
        });
        location.href = '@(Html.Raw(Url.Action("Index")))';
    });
</script>
}
